<!-- <p>card works!</p> -->

<h6>Find Your Job</h6>

<!-- <app-display></app-display> -->
<div class="row">
  <div class="location selectlist">
    <input
      type="search"
      [(ngModel)]="searchJob"
      class="form-control"
      placeholder="Search jobs..."
    />
  </div>
  <app-display (dropDownData)="gettingTheDropdownData($event)"></app-display>

  <div
    class="col-lg-4 col-md-6 col-12 mt-4 pt-2"
    *ngFor="let data of jobs_info | search : searchJob"
  >
    <div class="card border-0 bg-light rounded shadow">
      <div class="card-body p-4">
        <span
          class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0"
          style="margin-bottom: 10px !important"
          >{{ data.job_type }}</span
        >
        <h5>{{ data.job_title }}</h5>
        <div class="mt-3">
          <span class="text-muted d-block"
            ><i class="fa fa-home" aria-hidden="true"></i>
            <a href="#" target="_blank" class="text-muted">{{
              data.company_name
            }}</a></span
          >
          <span class="text-muted d-block"
            ><i class="fa fa-map-marker" aria-hidden="true"></i
            >{{ data.job_location }}</span
          >
        </div>

        <div class="mt-3">
          <button (click)="viewDetails(data)" class="btn btn-primary">
            View Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
